<div class="middleWrap">
    <div class="middleWrapIn">
        <div class="flexAlignJustify">
            <h2 class="subInnerHeader text-left">Recent transactions</h2>
            <div class="filterTblwrap">
                <a href="javascript:;" class="filterIconlink"><img src="assets/filter-filled-tool-symbol.svg" alt=""> Sort By</a>
                <select class="filterSelect">
                    <option value="date">Date</option>
                    <option value="transactionRemarks">Transaction remarks</option>
                    <option value="type">Type</option>
                    <option value="amount">Amount</option>
                </select>
            </div>
        </div>
        <table class="table table-bordered table-responsive-sm">
            <thead class="table-active">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Transaction remarks</th>
                <th scope="col">Type</th>
                <th scope="col">Amount (CC)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">09/02/2021</th>
                <td>Baught from marketplace</td>
                <td>Buy</td>
                <td>1000</td>
            </tr>
            <tr>
                <th scope="row">09/02/2021</th>
                <td>Baught from marketplace</td>
                <td>Buy</td>
                <td>1000</td>
            </tr>
            <tr>
                <th scope="row">09/02/2021</th>
                <td>Baught from marketplace</td>
                <td>Buy</td>
                <td>1000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>